<h2>Materials App</h2>

<p><strong>This is a SPA application for watching and creating learning materials</strong></p>

<p>As a registered user you can leave comments on existing materials and add new materials!</p>

