<h2>Events</h2>

<a href="#/events/add">Add New Event</a>

{{#if this}}
    {{#each this}}
    <ul>
        <li>{{category}}</li>
        <li>{{title}}</li>
    </ul>
    {{/each}}
{{else}}
<h3>No Events</h3>
{{/if}}