<h2>Add New TODO</h2>
<div class="form-group">
    <lable for="tb-todo-text">Title: </lable>
    <input id="tb-todo-text" class="form-control">
</div>
<div class="form-group">
    <lable for="tb-todo-category">Category: </lable>
    <input id="tb-todo-category" class="form-control">
</div>

<button class="btn btn-success" id="btn-todo-add">Add</button>