USE [master]
GO
/****** Object:  Database [Computers]    Script Date: 11/8/2016 8:57:31 PM ******/
CREATE DATABASE [Computers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Computers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MYSQLSERVER\MSSQL\DATA\Computers.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Computers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MYSQLSERVER\MSSQL\DATA\Computers_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Computers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Computers]
GO
/****** Object:  Table [dbo].[Computers]    Script Date: 11/8/2016 8:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ComputerType] [nvarchar](10) NOT NULL,
	[VendorId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[Memory] [int] NOT NULL,
	[CPUId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComputersGPUs]    Script Date: 11/8/2016 8:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputersGPUs](
	[ComputerId] [int] NOT NULL,
	[GPUId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComputersStorages]    Script Date: 11/8/2016 8:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputersStorages](
	[ComputerId] [int] NOT NULL,
	[StorageId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CPUs]    Script Date: 11/8/2016 8:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[NumberOfCores] [int] NOT NULL,
	[ClockCycles] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GPUs]    Script Date: 11/8/2016 8:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[GPUType] [nvarchar](10) NOT NULL,
	[Memory] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Models]    Script Date: 11/8/2016 8:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Storages]    Script Date: 11/8/2016 8:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[StorageType] [nvarchar](3) NOT NULL,
	[Size] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 11/8/2016 8:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_Computer_CPU] FOREIGN KEY([CPUId])
REFERENCES [dbo].[CPUs] ([Id])
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_Computer_CPU]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_Computer_Model] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Models] ([Id])
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_Computer_Model]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_Computer_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_Computer_Vendor]
GO
ALTER TABLE [dbo].[ComputersGPUs]  WITH CHECK ADD  CONSTRAINT [FK_ComputersGPUs_Computer] FOREIGN KEY([ComputerId])
REFERENCES [dbo].[Computers] ([Id])
GO
ALTER TABLE [dbo].[ComputersGPUs] CHECK CONSTRAINT [FK_ComputersGPUs_Computer]
GO
ALTER TABLE [dbo].[ComputersGPUs]  WITH CHECK ADD  CONSTRAINT [FK_ComputersGPUs_GPU] FOREIGN KEY([GPUId])
REFERENCES [dbo].[GPUs] ([Id])
GO
ALTER TABLE [dbo].[ComputersGPUs] CHECK CONSTRAINT [FK_ComputersGPUs_GPU]
GO
ALTER TABLE [dbo].[ComputersStorages]  WITH CHECK ADD  CONSTRAINT [FK_ComputersStorages_Computer] FOREIGN KEY([ComputerId])
REFERENCES [dbo].[Computers] ([Id])
GO
ALTER TABLE [dbo].[ComputersStorages] CHECK CONSTRAINT [FK_ComputersStorages_Computer]
GO
ALTER TABLE [dbo].[ComputersStorages]  WITH CHECK ADD  CONSTRAINT [FK_ComputersStorages_Storage] FOREIGN KEY([StorageId])
REFERENCES [dbo].[Storages] ([Id])
GO
ALTER TABLE [dbo].[ComputersStorages] CHECK CONSTRAINT [FK_ComputersStorages_Storage]
GO
ALTER TABLE [dbo].[CPUs]  WITH CHECK ADD  CONSTRAINT [FK_CPU_Model] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Models] ([Id])
GO
ALTER TABLE [dbo].[CPUs] CHECK CONSTRAINT [FK_CPU_Model]
GO
ALTER TABLE [dbo].[CPUs]  WITH CHECK ADD  CONSTRAINT [FK_CPU_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
GO
ALTER TABLE [dbo].[CPUs] CHECK CONSTRAINT [FK_CPU_Vendor]
GO
ALTER TABLE [dbo].[GPUs]  WITH CHECK ADD  CONSTRAINT [FK_GPU_Model] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Models] ([Id])
GO
ALTER TABLE [dbo].[GPUs] CHECK CONSTRAINT [FK_GPU_Model]
GO
ALTER TABLE [dbo].[GPUs]  WITH CHECK ADD  CONSTRAINT [FK_GPU_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
GO
ALTER TABLE [dbo].[GPUs] CHECK CONSTRAINT [FK_GPU_Vendor]
GO
ALTER TABLE [dbo].[Storages]  WITH CHECK ADD  CONSTRAINT [FK_Storage_Model] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Models] ([Id])
GO
ALTER TABLE [dbo].[Storages] CHECK CONSTRAINT [FK_Storage_Model]
GO
ALTER TABLE [dbo].[Storages]  WITH CHECK ADD  CONSTRAINT [FK_Storage_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
GO
ALTER TABLE [dbo].[Storages] CHECK CONSTRAINT [FK_Storage_Vendor]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [CHK_ComputerType] CHECK  (([ComputerType]='Notebook' OR [ComputerType]='Desktop' OR [ComputerType]='Ultrabook'))
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [CHK_ComputerType]
GO
ALTER TABLE [dbo].[GPUs]  WITH CHECK ADD  CONSTRAINT [CHK_GPUType] CHECK  (([GPUType]='internal' OR [GPUType]='external'))
GO
ALTER TABLE [dbo].[GPUs] CHECK CONSTRAINT [CHK_GPUType]
GO
ALTER TABLE [dbo].[Storages]  WITH CHECK ADD  CONSTRAINT [CHK_StorageType] CHECK  (([StorageType]='SSD' OR [StorageType]='HDD'))
GO
ALTER TABLE [dbo].[Storages] CHECK CONSTRAINT [CHK_StorageType]
GO
USE [master]
GO
